---
---
h1, h2, nav, footer
    text-align: center

hr
    height: 1px
    border: none
    color: #000000
    background-color: #000000

a
    text-decoration: none

.page-container
    max-width: 900px
    margin-left: auto
    margin-right: auto

.blog-metadata
    color: gray