<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .page-container {
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }

        .website-title {
            text-align: center;
        }

        nav {
            text-align: center;
        }

        hr {
            height: 1px;
            border: none;
            color: #000000;
            background-color: #000000;
        }
    </style>

    <title>Flying Watermelon :: {{ page.title }}</title>
</head>

<body>
    <div class="page-container">
        <h1 class="website-title">Flying Watermelon</h1>
        {% include navigation.html %}
        <hr />
        {{ content }}
    </div>
</body>

</html>
